.homepage_main{
    height: 100vh;
    grid-gap: calc(var(--md-d) * 1rem);
    /* margin: 0 calc(var(--md-d) * 1rem); */
  }
  .homepage_main form{
    gap: calc(var(--md-d) * 1rem);
  }
  .homepage_main button{
    width: 100%;
  }